@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<h2>Admin panel home</h2>
<br/>
<ul>
    <li><a asp-action="Products" asp-controller="Admin">Manage products</a></li>
    <li><a asp-action="Category" asp-controller="Admin">Manage categories</a></li>
</ul>