@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model SillyStyles.Domain.Entities.Product

@{
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>
<img class="product-img" src="@Model.ImageUrl"></a>